img {
    width: 125px;
    height: 175px;
}
.gauche{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(109, 12, 12);
    width: 300px;
    padding: 20px;
}
.centre{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.nom{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgb(109, 12, 12);
    gap: 100px;
}
.contenu{
    display: flex;
    flex-direction: row;
}
.copyright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
@media screen and (max-width: 600px) {
    .contenu{
        display: flex;
        flex-direction: row;
    }
    .gauche{
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: rgb(109, 12, 12);
        width: 300px;
        padding: 20px;
        gap: 10px;
    }
}
